<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="webServiceClient" class="com.s2.product.WebServiceClient">
        <property name="defaultUri" value="http://localhost:8080/WebService"/>
    </bean>

	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>  
	<bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">  
	    <constructor-arg ref="messageFactory"/>  
	    <property name="messageSender">  
	        <bean class="org.springframework.ws.transport.http.HttpUrlConnectionMessageSender"/>  
	    </property>  
	    <property name="defaultUri" value="http://localhost:8080/prjCXFWS/services/SimpleServicePort" />  
	</bean> 

</beans>
